@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.one-blog{
	background-color:#2ecc71;
	padding:5% 0;
	color:white;
}
.pager{
	float:left;
}
.two-blog{
	padding:5% 0;
	background-color: #f5f5f5;
}
.description h3{
	padding:0;
}
.content{
	background-color: white;
	padding:1px 18px 10%;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-bottom: 3%;
	color:#374c60;
}
.content span{
	color:#999999;
	padding:3% 0 2%;
}
.content p{
	padding-top: 4%;
}
.description img{
	width:100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.photo .input-group{
	margin-bottom:2%;
}
.imagen{
	background-size: cover;
	height:150px;
	border-radius:14px;
	padding:4px;
	width:160px;
}
.imagenes {
    margin-bottom: 160px;
    margin-top:8%;
}
.photo .one{
	background:url('../images/ads/ad1.png') no-repeat;	
}
.photo .two{
	background:url('../images/ads/ad2.png') no-repeat;
}
.photo .three{
	background:url('../images/ads/ad3.png') no-repeat;
}
.photo .four{
	background:url('../images/ads/ad4.png') no-repeat;
}
.input-group-addon{
	background-color:#d9534f;
	color:white;
}
h3{
	padding:3% 0;
	color:#374c60;
}
.categoria ul{
list-style:none;
color:#374c60;
}
.categoria{
	padding-top:45%;
}
.cloud{
	padding:30% 0 2%;
}
.btn-primary{
	margin-bottom: 4px;
	font-size: 8px;
}

