@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.icon-bar{
	padding-top:3px;
	background-color:black;
}

.navbar button{
	border:2px solid #4c8cf5;
}
.f-left{
	float:left;
}
.f-right{
float:right;
}
.text-center{
text-align: center;
}
nav{
	background-color: #34495e;
	margin:0;
	padding:0;
	padding:4px 0 6px;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand span{
	color:#1bbc9b;
}
.navbar-brand{
	color:white;
	font-size: 30px;
}
.navbar-right li :hover{
background-color: rgba(18,18,19,0.51)!important;
color:white;
border-radius:14px;
}
nav a{
	color:#ccc;
}
.navbar-right{
	padding-top: 1%;
}

.carousel-inner{
	height:528px;
}
.carousel-inner img{
	width:100%;
	height:100%;
}
.text-left{
	text-align: left;
}

/*social*/
.social{
background-color:#2ecc71;
margin:0;
padding:3% 0;
text-align: center;
position:relative;
color:white;
}

.social .medio{
	background-color: #1c7a44;
	border-radius:50%;
	height:60px;
	position:absolute;
	top:60px;
	width:100%;
	padding-top:50%;
	margin-left:3px;
}
.social .col-lg-10{
	padding-left:25px;
}

/*page*/
.page{
	background-color:#f5f5f5;
	padding:6% 0;
}

.page nav{
	background-color:transparent;
}
.pagination li a, .pagination li a{
	background-color:#e74c3c;
	border:1px solid #d9534f;

}
/*Lorem*/
.lorem{
	background-color:#e74c3c;
	padding:4% 0;
	color:white;
}
.lorem .col-lg-6{
	border-left:4px solid white;
	margin-bottom: 2%;
}

