@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.icon-bar{
	padding-top:3px;
	background-color:black;
}

.navbar button{
	border:2px solid #4c8cf5;
}
.f-left{
	float:left;
}
.f-right{
float:right;
}
nav{
	background-color: #34495e;
	margin:0;
	padding:0;
	padding:4px 0 6px;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand span{
	color:#1bbc9b;
}
.navbar-brand{
	color:white;
	font-size: 30px;
}
.navbar-right li :hover{
background-color: rgba(18,18,19,0.51)!important;
color:white;
border-radius:14px;
}
nav a{
	color:#ccc;
}
.navbar-right{
	padding-top: 1%;
}



.carousel-inner{
	height:528px;
}
.carousel-inner img{
	width:100%;
	height:100%;

}