/* INDEX */
.carousel-inner img {
	width:100%;
	height:100%;
}
.social {
	background-color:#2ecc71;
	margin:0;
	padding:3% 0;
	text-align: center;
	position:relative;
	color:white;
}
.social .medio {
	background-color: #1c7a44;
	border-radius:50%;
	height:60px;
	position:absolute;
	top:60px;
	width:100%;
	padding-top:50%;
	margin-left:3px;
}
.social .col-lg-10 {
	padding-left: 25px;
}
.page {
	background-color:#f5f5f5;
	padding:6% 0;
}
.page nav {
	background-color:transparent;
}
.pagination li a, .pagination li a {
	background-color:#e74c3c;
	border:1px solid #d9534f;
}
.lorem {
	background-color: #e74c3c;
	padding: 4% 0;
	color: white;
}
.lorem .col-lg-6 {
	border-left: 4px solid white;
	margin-bottom: 2%;
}


/* ABOUT US */
.about-us .progress {
	background-color: white;
    height: 30px;
}
.about-us .progress-bar {
	padding-top: 8px;
}
.subtitle-h3 {
	font-size: 1.5em;
}
.about-us img {
    border-radius: 100%;
    border: 5px solid white;
    height: 167px;
    width: 167px;
}
.team-photos {
	margin-top: 4%;
}
.about-us .social-media .global-media {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    color: white;
    padding: 15px;
    height: 15px;
    text-align: center;
    width: 15px;
}
.icon-facebook {
	background-color: #4F7DD4;
}
.icon-google-plus {
	background-color: #DB422B;
}
.icon-twitter {
	background-color: #5BCEFF;
}
.icon-linkedin {
	background-color: #21A6D8;
}

/* SERVICES */



/* PORTFOLIO */
.image{
	height:300px;
	background-color:white;
	border:10px solid white;
}
.folder{
	padding:5% 0;
	background-color: #f5f5f5;
}
.second{
	padding-top:3%;
}
.folder p,.second p{
	position:absolute;
	bottom:0;
	background-color:white;
	padding:5% 50% 1% 1%;
}
.folder .one{
	background-size: 100%;
	background: url('../images/portfolio/thumb/item1.jpg') no-repeat;
}
.folder .two{
	background-size:  100%;
	background: url('../images/portfolio/thumb/item2.jpg') no-repeat;
}
.folder .three{
	background-size: 100%;
	background: url('../images/portfolio/thumb/item3.jpg') no-repeat;
}
.folder .second .one{
	background-size:100%;
	background: url('../images/portfolio/thumb/item4.jpg') no-repeat;
}
.folder .second .two{
	background-size: 100%;
	background: url('../images/portfolio/thumb/item5.jpg') no-repeat;
}
.folder .second .three{
	background-size: 100%;
	background: url('../images/portfolio/thumb/item6.jpg') no-repeat;
}


/* BLOG */
.description{
	float:left;
}
.blog-aside{
	float:right;
}
.one-blog {
	background-color:#2ecc71;
	padding:5% 0;
	color:white;
}
.pager{
	float:left;
}
.two-blog{
	padding:5% 0;
	background-color: #f5f5f5;
}
.description h3{
	padding:0;
}
.content{
	background-color: white;
	padding:1px 18px 10%;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-bottom: 3%;
	color:#374c60;
}
.content .blog-details {
	color: #999999;
	padding: 3% 0 2%;
}
.description img{
	width:100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.photo .input-group{
	margin-bottom:2%;
}
.imagen{
	background-size: cover;
	height:150px;
	border-radius:14px;
	padding:4px;
	width:160px;
}
.imagenes {
    margin-bottom: 160px;
    margin-top:8%;
}
.photo .one{
	background:url('../images/ads/ad1.png') no-repeat;	
}
.photo .two{
	background:url('../images/ads/ad2.png') no-repeat;
}
.photo .three{
	background:url('../images/ads/ad3.png') no-repeat;
}
.photo .four{
	background:url('../images/ads/ad4.png') no-repeat;
}
.input-group-addon{
	background-color:#d9534f;
	color:white;
}
.categoria ul{
	list-style:none;
	color:#374c60;
}
.categoria{
	padding-top:45%;
}
.cloud{
	padding:30% 0 2%;
}
.blog-aside {
	float: right;
}
.description {
	float: left;
}

/* BLOG ITEM */
.blog-item ul {
	padding: 0;
}
.comment-user {
	background-color: rgb(245,245,245);
    border-radius: 4px;
	padding: 12px;
}
.blog-item .media img {
	border-radius: 100%;
	width: auto;
}
.comment-user img.img-circle {
	border-radius: 4px;
	border: 4px solid white;
}
.comment-user .media-body {
	padding-left: 10px;
}
.blog-aside img {
	border-radius: 14px;
}
.blog-aside .input-group-addon {
    background-color: #d9534f;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
}
a.reply {
	color: #4F5A65;
	cursor: pointer;
	font-size: 0.8em;
}
.fright {
	clear: both;
	float: right;
}
.blog-article .form-group {
	width: 48%;
}
.blog-article .form-group.form-textarea {
	width: 100%;
}
.main-content nav{
	background-color:transparent;
}
.main-content .pagination li a{
	background-color: #fff;
    border: 1px solid #ddd;
}
.main-content .pagination .active a{
	background-color: #428bca;
    border-color: #428bca;
}
.blog-aside .input-group{
	margin-bottom: 10px;
}
.two-images{
	margin-bottom: 15px;
}
/* CONTACT US */
.contact-us textarea {
	height: 181px;
	max-height: 181px;
	width: 100%;
	max-width: 100%;
}
.services .media>.pull-left {
	margin-right: 0;
}
.services .media .global-media {
	background-color: gray;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	color: white;
	font-size: 2.8em;
	padding: 15px;
	height: 70px;
	text-align: center;
	width: 70px;
	margin-right: 15px;
}
.services blockquote cite:before {
	content: '\2014 \00A0';
}



